.ar-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.ar-header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.ar-header h2 {
  margin: 0;
  font-size: 24px;
}

.ar-header p {
  font-size: 12px;
  color: #777;
}

model-viewer {
  width: 100%;
  height: 100%;
}